body {
	background-image: url("../images/texturedPurple.png");
    color: #444;
}
.time-and-score{
font-family: helvetica;
font-size: 24px;
font-style: normal;
color: #222;
font-weight: 700;
text-align: center;
}



