<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sabrina Fiester</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/freelancer.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/font-awesome-4.3.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="font-awesome-4.1.0/css/font-mfizz.css">


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

    <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top flowers">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#page-top"><i class="fa fa-code"></i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#skills">Skills</a>
            </li>
            <li class="page-scroll">
              <a href="#education">Education</a>
            </li>
            <li class="page-scroll">
              <a href="#Experience ">Experience</a>
            </li>
            <li class="page-scroll">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header class="textured-purple">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                      <img src="/img/portrait_round_small.png">
                      <span class="name">Sabrina Fiester</span>
                        <hr class="star-light">

                      <span class="skills">Software Developer - Job Seeker - Racecar Driver</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="skills" class="flowers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skills</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class = "col-sm-6 col-sm-offset-3 text-center not-as-big">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="row">
                        <div class = "col-sm-6"><i class = "icon-javascript"></i><br><p>JavaScript</p></div>
                        <div class = "col-sm-6"><i class ="bigger fa fa-html5"></i><br><p>HTML5</p></div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                            <div class="row">
                        <div class = "col-sm-6"><i class = "bigger fa fa-css3"></i><br><p>CSS3</p></div>
                        <div class = "col-sm-6"><i class = "bigger fa fa-git-square not-as-big"></i></br><p>git</p></div>
                    </div>
                </div>
            </div>
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="row">
                        <div class = "col-sm-6 text-center"><i class = "icon-ruby not-as-big"></i><br><p>Ruby</p></div>
                        <div class = "col-sm-6 text-center"><i class ="icon-java-bold not-as-big"></i><br><p>Java</p></div>
                    </div>
                </div>
                        <div class="col-xs-6 text-center">
                            <div class="row">
                        <div class = "col-sm-6 text-center"><i class = "icon-mysql not-as-big"></i><br><p>MySQL</p></div>
                        <div class = "col-sm-6 text-center"><i class = "icon-heroku not-as-big"></i></br><p>Heroku</p></div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Education Section -->
    <section class="success textured-purple" id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2>Education</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class="row">
                <div class="col-sm-6"><img src = "/img/logo_stacked_white.png">
                </div>
                <div class="col-sm-6">
                    <p>January 2014 - May 2015<br>Computer Science B.A.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <br>
          <div class="row">
            <div class="col-sm-6"><img src = "/img/bethel-logo-vertical-white.png">
            </div>
            <div class="col-sm-6">
              <p><br>August 2011 - December 2013<br>Computer Science Major</p>
            </div>
      </div>
        </div>
    </section>

    <!-- Experience Section -->
    <section id="Experience" class="flowers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Experience</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-offset-4 col-sm-4 text-center"><p><b>HomeSpotter</b><br>Software Engineer<br>April 2015-January 2016</p></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-offset-4 col-sm-4 text-center"><p><b>Third Iron</b><br>Web and Android Development Intern<br>September 2014-February 2015</p></div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3 col-sm-offset-4 col-sm-4 text-center"><p><b>River Systems LLC</b><br>Software Engineering Intern<br>March 2014-August 2014</p></div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="textured-purple">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!--div class="col-sm-2"></div-->
                <div class="col-sm-4 col-sm-offset-2"><p>I am currently seeking a full-time backend or full stack development opportunity. I'd love to hear about the exciting work you are doing!</p></div>
                <div class="col-sm-4 form-horizontal">
                    <div class = "contact-form form-group">
                        <label for="my-email" class="col-xs-2"><i class="fa fa-envelope small"></i></label>
                        <div class = "col-xs-6">
                            <p>hello@sabrina.io</p>
                        </div>
                    </div>
                    <div class = "form-group contact-form">
                        <label for="my-phone" class="col-xs-2"><i class="fa fa-phone small"></i></label>
                        <div class = "col-xs-6">
                            <p>(763) 438-4798</p>
                        </div>
                    </div>
                     <div class = "form-group contact-form">
                        <label for="my-linkedin" class="col-xs-2"><i class="fa fa-linkedin-square small"></i></label>
                        <div class = "col-xs-6">
                            <p><a href="http://www.linkedin.com/in/sabrinafiester/">in/sabrinafiester</a></p>
                        </div>
                    </div>
                      <div class = "form-group contact-form">
                        <label for="my-twitter" class="col-xs-2"><i class="fa fa-twitter small"></i></label>
                        <div class = "col-xs-6">
                            <p><a href="http://twitter.com/_sabeek">@_sabeek</a></p>
                        </div>
                    </div>
                </div>

                <!--div class="col-sm-4">
                    <p>&nbsp;&nbsp;<i class="fa fa-envelope small"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hello@sabrina.io</p>
                    <p>&nbsp;&nbsp;<i class="fa fa-phone small"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(651) 401-5491</p>
                    <p>&nbsp;&nbsp;<i class="fa fa-linkedin-square small"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.linkedin.com/in/sabrinafiester/">linkedin.com/in/sabrinafiester</a></p>
                    <p>&nbsp;&nbsp;<i class="fa fa-twitter small"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://twitter.com/_sabeek">@_sabeek</a></p>
                </div-->
                <!--div class="col-sm-2"></div-->
            </div>
    </section>

    <!-- Footer -->
    <footer class="text-center flowers">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Minneapolis, Minnesota</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://github.com/sabrinafiester" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/_sabeek" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/sabrinafiester/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>sabrina.io</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                    &copy; Sabrina Fiester 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>



    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>

</body>

</html>
